<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blocklangcurr</name>
	<displayName>Language and Currency block</displayName>
	<version>0.7</version>
	<description>Adds a block for selecting a language and Currency</description>
	<author></author>
	<tab>Blocks</tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
</module>